--extra-index-url https://pypi.fury.io/zNzsk7gQsYY335HLzW9x/alpha-i/
numpy
pandas
tables
pytz
alphai_calendars
alphai_finance==2.0.0
alphai-time-series==0.0.4
matplotlib>=1.5.0
seaborn>=0.7.1
dateutils==0.6.6
marshmallow==3.0.0b4
marshmallow-enum==1.4.1
psycopg2==2.7.3.1
xarray
netcdf4
